* {
  margin: 0;
  padding: 0;
}
.main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* background-color: rgb(180, 134, 134); */
}
.container-1 {
  background-image: url(./images/bg-hero-desktop.svg);
  box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px,
    rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
  padding: 10px 50px;
  display: flex;
  flex-direction: column;
}
.sub-container-1 {
  display: flex;
  justify-content: space-between;
  padding: 10px;
}

.try-it {
  background-color: hsl(322, 100%, 66%);
  width: 250px;
  height: 40px;
  border-radius: 100px;
  border: none;
}

.try-it:hover {
  transition: 0.5s;
  box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset,
    rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset,
    rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px,
    rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px,
    rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
}

.sub-container-2 {
  display: flex;
  margin-top: 50px;
}
@media screen and (max-width: 1000px) {
  .sub-container-2 {
    align-items: center;
    flex-direction: column;
    justify-content: center;
  }
}
.left-sub-container {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.build {
  padding-bottom: 5px;
  max-width: 80%;
}

.huddle {
  margin-top: 30px;
  padding: 10px 0px;
  font-size: 20px;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
}
.get-started {
  margin-top: 30px;
  background-color: hsl(322, 100%, 66%);
  max-width: 300px;
  height: 50px;
  border-radius: 120px;
  box-shadow: 3px 3px grey;
  border: none;
}
.get-started:hover {
  max-width: 320px;
  height: 55px;
  transition: 0.5s;
}

.right-sub-container {
  flex: 1.3;
  display: flex;
  justify-content: flex-end;
}

.right-sub-container > img {
  width: 80%;
}

.container-2 {
  margin: 100px 200px;
  padding: 50px;
  border-radius: 20px;
  box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px,
    rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px;
  display: flex;
}

@media screen and (max-width: 1000px) {
  .container-2 {
    flex-direction: row;
    max-width: 80%;
    max-height: 500px;
  }
}

.sub-container-2x1 {
  display: flex;
  align-items: center;
  flex: 1;
}
.sub-container-2x1 > div {
  margin: 0 0 0 30px;
}
.container-2x1-head {
  margin-top: 20px;
  margin-bottom: 23px;
  font-size: 40px;
  width: 80%;
}
.container-2x1-para {
  font-weight: 1000;
  font-size: 20px;
  font-family: "Poppins", sans-serif;
  margin-bottom: 10px;
}
.sub-container-2x2 {
  display: flex;
  justify-content: flex-end;
  flex: 1;
}

.sub-container-2x2 > img {
  /* flex: 0.5; */
  width: 60%;
}

.container-3 {
  margin-left: 200px;
  margin-right: 200px;
  margin-bottom: 100px;
  display: flex;
  padding: 50px;
  border-radius: 20px;
  box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px,
    rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px;
}

.sub-container-3x1 > img {
  width: 60%;
}

.sub-container-3x2 {
  display: flex;
  justify-content: center;
  /* align-items: center; */
  flex-direction: column;
}

.head-3x2 {
  margin-top: 50px;
  margin-bottom: 23px;
  font-size: 40px;
  max-width: 80%;
}
.para-3x2 {
  font-weight: 1000;
  font-size: 20px;
  font-family: "Poppins", sans-serif;
  margin-bottom: 60px;
}

.container-4 {
  margin-left: 200px;
  margin-right: 200px;
  margin-bottom: 100px;
  display: flex;
  justify-content: space-between;
  padding: 50px;
  border-radius: 20px;
  box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px,
    rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px;
}
.sub-container-4x1 {
  display: flex;
  flex-direction: column;
  flex: 1;
  width: 80%;
}

.head-4x1 {
  margin-top: 50px;
  margin-left: 23px;
  margin-bottom: 23px;
  font-size: 40px;
  max-width: 80%;
}
.para-4x1 {
  margin-left: 23px;
  font-weight: 1000;
  font-size: 20px;
  margin-bottom: 10px;
  font-family: "Poppins", sans-serif;
}
.sub-container-4x2 {
  flex: 0.9;
  display: flex;
  justify-content: flex-end;
}

.sub-container-4x2 > img {
  width: 60%;
  /* height: 300px; */
}

.container-5 {
  position: relative;
  top: 50px;
  z-index: 10;
  width: 25%;
  margin-left: 200px;
  margin-right: 200px;
  /* margin-bottom: 100px; */
  background-color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 50px;
  border-radius: 20px;
  box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px,
    rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px;
}
.sub-container-5x1 {
}
.sub-container-5x2 {
  display: flex;
}
.button-5x2 {
  background-color: hsl(322, 100%, 66%);
  width: 200px;
  height: 40px;
  border-radius: 50px;
  border: none;
  margin-top: 10%;
  color: white;
}
.button-5x2:hover {
  transition: 0.5s;
  height: 09px;
}
.container-6 {
  z-index: 1;
  padding: 70px 100px 20px 100px;
  display: flex;
  /* justify-content: space-around; */
  flex-direction: column;
  /* align-items: flex-end; */
  background-color: hsl(209, 19%, 30%);
  color: rgb(241, 232, 232);
}
.something > img {
  margin-bottom: 17px;
}

.something-else {
  display: flex;
}

.sub-container-6x1 {
  /* flex: 2; */
  align-items: center;
  justify-content: center;
  width: 40%;
  /* flex: 0.4; */
}
.logo {
  margin-bottom: 17px;
}
.para-6x1 {
  margin-bottom: 17px;
  display: flex;
  /* max-width: 80%; */
}
.ulist-6x1 {
  display: flex;
  margin-bottom: 17px;
  width: 60%;
}

.icons {
  padding: 0 5px 0 0;
  width: 15px;
  height: 15px;
}
.sub-container-6x2 {
  margin: 0 100px;
}
.ulist-6x2 {
  margin-bottom: 17px;
}
.sub-container-6x3 {
  margin: 0 50px;
}
.ulist-6x3 {
  margin-bottom: 8px;
}
.sub-container-6x4 {
  display: flex;
  flex-direction: column;
  margin-left: 100px;
}
.fa-brands {
  margin-bottom: 17px;
}
